.layout {
    display: flex;
    flex-direction: column;
    gap: 2rem; /* espacio entre secciones */
}
.layout main,
.layout navbart-component {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
