.container {
    width: 100%;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
}
.sub-title {
    font-size: 60px;
    text-align: center;
    padding-bottom: 30px;
}
.sub-title span {
    color: #0ef;
}
.container-technical{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
    padding: 0 35px;
}

.container1 {
    width: 500px;
    height: 500px;
    padding: 10px 80px;
    
}
/* Technical */
.heading1 {
    text-align: start;
    text-decoration: underline;
    text-underline-offset: 15px;
    margin-bottom: 50px;
}
.technical-bars{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* Radial */
.radial-bars {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: start;
}
