/*  TEST PROJECT */

.main-text {
    padding: 5px 80px;
    margin-top: 0px;
    text-align: center;
}
.main-text h2 {
    font-size: 60px;
    line-height: 1;
    text-align: center;
}
.main-text span {
    color: #0ef;
}
.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(359px, 1fr));
    gap: 15px 12px;
}
